ul{
    list-style-type: none;
    font-weight: bold;
    border: 2px solid green;
    padding: 1rem 1rem;
}
li{
    padding: .5rem 0rem;
    color: white;
}
a{
    color: black;
}

td, th, tr{
    margin: 10px;
    padding: 10x
}
