@import "~./variables";

.mt-10{
    margin-top:10px !important
}
.ml-10{
    margin-left:10px !important
}

.mt-30{
    margin-top:30px !important
}
.pl-5{
    padding-left: 5px;
}
.my-10{
    margin: 10px 0px;
}
.red{
    color: #F23030 !important
}
.green{
    color: #3F8254 !important
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.mr-10{
    margin-right:10px;
}
.ml-10{
    margin-left:10px;
}
.pointer{
    cursor: pointer !important;
}
//fonts

.fw-light{
    font-weight: light;
}
.space-between{
    justify-content: space-between;
}

